
.main__container {
  box-shadow: 0.8rem 0.1rem 0.4rem 0.1rem rgba(0,0,0,0.75);
  margin-top: 7.6rem;
  margin-left: 15.01rem;
  width: 80rem;
  height: 73.98rem;
  background-color: $color-image-background;
  border-radius: 50rem 6rem 30rem 10rem;
}

.main__image{
  border-radius: 20rem 2rem 10rem 5rem;
  width: 53.4rem;
  height: 38.3rem;
  margin-top: 14rem;
  margin-left: 14.4rem;
  object-fit: cover;
}

.main_nameContainer{
  margin-top: 2.63rem;
  margin-left: 22.6rem;
  display: flex;
  align-items: center;
}

.userIcon, .checkedIcon{
  width: 4.73rem;
  height: 4.42rem;
}

.userIcon{
  color: $color-white;
  margin-right: 1.4rem;
}
.checkedIcon{
  color: rgba(25, 148, 14, 1);
}

.main__h2{
  width: 33.3rem;
  text-align: center;
  font-weight: $font-weight-bold;
  line-height: 6.1rem;
  font-size: 4rem;
}

.main__h3{
  margin-left: 22.6rem;
  font-size: 2rem;
  font-weight: $font-weight-slim;
  font-style: italic;
  line-height: 2.4rem;
}

.main__button{
  display: block;
  margin-left: 43.2rem;
  margin-top: 2.86rem;
  font-family: $font-family-button;
  font-style: italic;
  background-color: #35660E;
  width: 22.43rem;
  height: 5.48rem;
  font-size: 3rem;
  -webkit-text-stroke: 1px  #D9D9D9;
  color: $color-white;
  line-height: 3rem;
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  box-shadow: 1rem 0.4rem 0.4rem rgba(0, 0, 0, 0.75);
  border-radius: 2rem;
  border: none;
}

