$font-family-primary: 'Inter', sans-serif;
$font-family-button: 'Lato', sans-serif;

$font-weight-bold: 800;
$font-weight-semiBold: 700;
$font-weight-normal: 400;
$font-weight-slim: 100;


$color-image-background: rgba(217, 217, 217, 1);
$color-form-primary: rgba(7, 21, 148, 1);
$color-white:  #FFFFFF;
$color-black:  rgba(0,0,0, 1)